.notice {
    color: red;
}

.f-l {
    float: left;
    margin-right: 10px;
}

#list>div {
    margin: 5px;
    background-color: gray;
    color: white;
}

.clickable {
    cursor: pointer;
    padding: 0 5px;
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background-color: black;
        color: white;
    }

    input[type="number"] {
        background-color: #333;
        color: white;
    }

    button {
        background-color: #333;
        color: white;
    }

    a:link {
        color: rgb(91, 188, 248);
    }

    a:visited {
        color: rgb(248, 91, 201)
    }
}